# Dataset
model-training/dataset/

# Output Model
model-training/output_model/error_analysis/
model-training/output_model/logs/

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# Jupyter Notebook
.ipynb_checkpoints

# OS
.DS_Store
Thumbs.db

# informasi lainnya
Flowchart Proses Training Model.png
Flowchart Sistem Aplikasi Web.png
Skripsi Asli.pdf